<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<!-- down arrow pointing to authenticate button -->
<div class="demo-wrapper css3-bounce-effect">
	<p class="fa fa-arrow-down fa-5x down-arrow bounce"></p>
</div>

<!-- This is my bootstrap authenticate button -->
<div class="row">
	<div class="col-md-4"></div>
		<div class="col-md-4 text-center">
	  	<%= link_to "Authenticate with Linkedin", '/auth/linkedin', :class => "btn btn-primary button-white" %>
		</div>
	<div class="col-md-4"></div>
</div>

