<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic' rel='stylesheet' type='text/css'>
</head>
	<% if current_user %>
		<%= render "pages/loggedin" %>
	<% else %>
		<%= render "pages/loggedout" %>
	<% end %>
</html>
	
	


