<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

</body>
</html>
<h1 style="font-family: 'IM Fell DW Pica', serif;" class="about-h1">Slinky is...</h1>
	<h2 style="font-family: 'IM Fell DW Pica', serif;" class="about-h1">the location based social network for business professionals</h2>

	<h3>Step 1</h3>

