@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.*/
body {
	padding-top: 145px;
}

li {
	display: block;
	margin: 0 auto;
}
a {
	text-decoration: none;
	display: block;	
}
.nav-word {
	list-style-type: none;
	color: black;
	font-size: 2em;
	text-align: center;	
}

.nav-list {
	background-color: #ffffff;
	width: 100%;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	padding: 0px;	
}
.icon-1, .icon-2, .icon-3, .icon-4, .icon-5 {
	display: inline-block;
	text-align: center;
	padding: 5px;
	width: 19.5%;
	border: 3px solid black;
	color: black;
}
.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover {
	color: #63B8FF;
	text-decoration: none;
}
	
.authenticate-btn {
	width: 30%;
}

@media screen and (max-width: 800px) {
	body {
		padding-top: 110px;
	}
	li {
		display: block;
		margin: 0 auto;
	}
    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5 {
        display: inline-block;
		text-align: center;
		padding: 5px;
		width: 19.4%;
		border: 3px solid black;
		font-size: 75%;
    }
    .nav-list {
		background-color: #ffffff;
		width: 100%;
		list-style-type: none;
		display: inline-block;
		text-align: center;
	
	}
	.nav-word {
		list-style-type: none;
		color: black;
		font-size: 1.5em;
		text-align: center;
	}
}
@media screen and (max-width: 560px) {
	p {
		margin: 0 0 50px;
	}
	body {
		padding-top: 80px;
	}
	li {
		display: block;
		margin: 0 auto;
	}
    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5 {
        display: inline-block;
		text-align: center;
		padding: 5px;
		width: 19%;
		border: 3px solid black;
		font-size: 40%;
    }
    .nav-list {
		background-color: #ffffff;
		width: 100%;
		list-style-type: none;
		display: inline-block;
		text-align: center;
	}
	.nav-word {
		list-style-type: none;
		color: black;
		font-size: 2em;
		text-align: center;

	}
}


/* testing other css pages */

/* new.html.erb */
.down-arrow {
	width: 100%;
	text-align: center;
	color: #999;
	-webkit-animation: bounce 1000ms ease-out;
	-moz-animation: bounce 1000ms ease-out;
	-o-animation: bounce 1000ms ease-out;
	animation: bounce 1000ms ease-out;
}

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-50%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-15%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-webkit-transform:translateY(-10%);
  }
  97% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-webkit-transform:translateY(-5%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}


