// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-success.outline {
    border: 2px solid #5cb85c;
    color: #5cb85c;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    border-color: #5cb85c;
}
.btn-success.outline:active, .btn-success.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}
.btn-danger.outline {
    border: 2px solid #d9534f;
    color: #d9534f;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    border-color: #d9534f;
}
.btn-danger.outline:active, .btn-danger.outline.active {
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: none;
}
@media screen and (min-width: 561px) {
	td {
		padding: 5px;
	}
	.table-condensed {
		padding: 20px;
	}
	.row-margin {
		width: 100%;
	}
}
@media screen and (max-width: 560px) {
	td {
		padding: 5px;
	}
	.row-margin {
		width: 100%;
	}
}