// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
	/*width: 20%;*/
}
.row-margin {
	width: 100%;
}
.red-button {
	width: 60px;
	text-align: center;
}
.green-button {
	width: 70px;
	text-align: center;
}
