// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*h1, h2, h3 {
	text-shadow: 2px 2px #999;
}*/

.about-h1 {
	text-align: center;
	margin: 10px 0;
}
.top-about {
	/*background-color: rgba(153, 153, 153, 0.15);*/
	background: image-url("pen-copy.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;
    color: blue;
}
.top-about-text {
	color: black;
}
.step-1 {
	/*background-color: rgba(84, 84, 84, 0.25);*/
	background: image-url("sm-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;
}
.step-2 {
	background-color: rgba(153, 153, 153, 0.15);
	background: image-url("hand.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;
}
.step-3 {
	background-color: rgba(153, 153, 153, 0.15);
	background: image-url("work.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;
}
.step-4 {
	background-color: rgba(153, 153, 153, 0.15);
	background: image-url("book.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;
}
.grow {
 	transition: all .4s ease-in-out;
}
.grow:hover {
 	transform: scale(1.1);
 	margin: 10px; 
}