// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*index background set to white, on hover background changes to light grey to highlight and show separation of profiles to avoid confusion*/
a {
  /*color: black;*/
  text-decoration: none;
}
a:hover {
  color: #63B8FF;
  text-decoration: none;
}
span {
  text-align: center;
}
.index-background {
  background-color: #ffffff;
}
.index-background:hover {
  background-color: #F8F8F8;
}
.edit-address {
  margin: 10px;
  color: #999;
}
.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-success.outline {
  border: 2px solid #5cb85c;
  color: #5cb85c;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  border-color: #5cb85c;
}
.btn-success.outline:active, .btn-success.outline.active {
  border-color: #fff;
  color: #fff;
  box-shadow: none;
}
.btn-warning.outline {
  border: 2px solid #f0ad4e;
  color: #f0ad4e;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  border-color: #f0ad4e;
}
.btn-warning.outline:active, .btn-warning.outline.active {
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
}
.btn-padding {
  margin: 5px;
}
.font-gray {
  color: #888;
}
.down-arrow {
  width: 100%;
  text-align: center;
  color: #999;
  -webkit-animation: bounce 1000ms ease-out;
  -moz-animation: bounce 1000ms ease-out;
  -o-animation: bounce 1000ms ease-out;
  animation: bounce 1000ms ease-out;
}
.hide-show {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0 0 auto;
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 2px;
}
.hide-show:hover {
  background-color: white;
  color: #63B8FF;
  border: 2px solid #63B8FF;
  cursor: pointer;
}
.show-profiles-button {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin: 0 0 auto;
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 2px;
  text-decoration: none;
}
.show-profiles-button:hover {
  background-color: white;
  color: #63B8FF;
  border: 2px solid #63B8FF;
  text-decoration: none;
  cursor: pointer;
}
#button-container {
  display: block;
  text-align: center;
}
#star {
  text-decoration: none;
}
#star:hover {
  color: #cccc00;
}


