<nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav-list">
          <%= link_to '/pages/about', :class => "icon-1" do %>
              <li class="fa fa-bullseye fa-5x fa-fw"></li>
              <li class="nav-word" style="font-family: 'IM Fell DW Pica', serif;">Slinky</li>
          <% end %>
  
          <%= link_to '/users/edit', :class => "icon-1 jumper", :href => "#jump" do %>
              <li class="fa fa-home fa-5x fa-fw"></li>
              <li class="nav-word" style="font-family: 'IM Fell DW Pica', serif;">Profile</li>
          <% end %>
  
          <%= link_to "/users/index", :class => "icon-2 jumper", :href => "#jump" do %>
            <li class="fa fa-search fa-5x fa-fw"></li>
            <li class="nav-word" style="font-family: 'IM Fell DW Pica', serif;">Search</li>
          <% end %>

          <span class="icon-3 jumper">
            <li class="fa fa-book fa-5x fa-fw"></li>
            <li class="nav-word" style="font-family: 'IM Fell DW Pica', serif;">Contacts</li>
          </span>

          <%= link_to "/auth/linkedin", :class => "icon-4" do %>
                <li class="fa fa-sign-in fa-5x fa-fw"></li>
                <li class="nav-word" style="font-family: 'IM Fell DW Pica', serif;">Sign In</li>
            <% end %>
      </ul>
</nav>